@font-face {
  font-family: 'Barlow-Regular';
  src: url('../assets/fonts/Barlow-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Barlow-Medium';
  src: url('../assets/fonts/Barlow-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Barlow-SemiBold';
  src: url('../assets/fonts/Barlow-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Barlow-Light';
  src: url('../assets/fonts/Barlow-Light.ttf') format('truetype');
}
